.navbar{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: bold;
    }
    .icons{
        display: flex;
        align-items: center;
        gap: 20px;
        .notification{
            display: flex;
            align-items: center;
        }
        .user{
            display: flex;
            align-items: center;
            img{
                width: 26px;
                height: 26px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }
}